@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Cutive+Mono&family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@400;700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}

/* .container {
  width: 100%;
  background-color: #7ea7d6;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
} */

header {
  width: 100%;
  height: 80px;
  top: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 9999;
  background-color: #eee;
  display: flex;
}

nav {
  width: 100%;
  z-index: 9999;
}

nav h1 a {
  display: block;
  text-decoration: none;
  float: left;
  line-height: 80px;
  font-weight: bold;
  color: #888;
  padding-left: 70px;
  font-family: "Noto Sans", sans-serif;
}
.gnb {
  float: right;
  width: 420px;
  list-style: none;
  text-align: center;
  line-height: 80px;
  padding-right: 70px;
}
.gnb li {
  float: left;
  margin-right: 20px;
}
.gnb li:last-child {
  margin-right: 0;
}
.gnb li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  /* font-family: "Cutive Mono", monospace; */
  font-family: "Noto Sans", sans-serif;
}
.gnb li:hover a {
  border-bottom: 2px solid #777;
}
.gnb .orange > a {
  color: orange;
}
.gnb .green > a {
  color: green;
}

.gnb .yellow > a {
  /* color: #ffd900; */
  color: #e6c404;
}

.gnb .blue > a {
  color: navy;
}
.gnb .red > a {
  color: #b81c00;
}
#section1 {
  height: 100vh;
  background-color: #eee;

  position: relative;
  margin: auto;
  z-index: -99;
}
/* #section1 h1 {
  position: absolute;
  width: 600px;
  text-align: center;
  top: 35%;
  left: 50%;
  margin: 0 0 0 -300px;
  font-size: 50px;
  color: #fff;
} */

.txt {
  text-transform: capitalize;
  font-size: 70px;
  min-width: 700px;
  white-space: nowrap;
  position: absolute;
  color: #888;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  font-family: "Bungee", cursive;
}

.txt::before {
  content: "GAHEE AN'S PORTFOLIO";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: orange;
  overflow: hidden;
  font-family: "Bungee", cursive;
  /* border-right: 3px solid #333; */
  animation: typing 2.5s steps(20);
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#section1 p {
  position: absolute;
  width: 510px;
  text-align: center;
  top: 60%;
  left: 50%;
  margin: 0 0 0 -255px;
  color: #777;
  /* border-bottom: 2px solid orange;
  padding-bottom: 10px; */
  font-size: 28px;
  font-weight: bold;
  font-family: "Gowun Batang", serif;
}

.sec2_bg {
  position: absolute;
  top: 50%;
  right: 50px;
  color: rgba(0, 128, 0, 0.2);
  font-weight: bold;
  font-size: 200px;
  font-family: "Bungee", cursive;
}
#section2 {
  position: relative;
  height: 100vh;
  background-color: #fff;
}
.sec {
  position: absolute;
  width: 1200px;
  height: 100%;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -600px;
}
.pro_left {
  float: left;
  width: 47%;
  text-align: right;
}

.pro_left img {
  width: 600px;
  height: 600px;
  /* border: 10px solid green; */
  border-radius: 30px;
}

.pro_right {
  float: right;
  width: 47%;
  margin-top: 40px;
}

.pro_right h1 {
  color: green;
  font-size: 45px;
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 30px;
}

.pro_right span {
  color: green;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
}
.pro_right P {
  margin-bottom: 10px;
  font-size: 18px;
}

/* .pro_right dl {
}

.pro_right dt {
  display: flex;
  flex-direction: row;
} */
.pro_right > P > span {
  font-size: 20px;
}
.pro_right .intro {
  margin-top: 40px;
  line-height: 2;
}

#section3 {
  position: relative;
  height: 100vh;
  background-color: #fff;
  background-color: rgb(255, 217, 0);
}
.sec3_bg {
  position: absolute;
  top: 50%;
  right: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 200px;
  font-family: "Bungee", cursive;
}
.sec3_top {
  display: flex;
  list-style: none;
  gap: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 0 0 -289px;
}
.sec3_bottom {
  display: flex;
  list-style: none;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -289px;
}
#section3 img {
  text-align: center;
  width: 100px;
}
#section3 ul li {
  width: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 5px 20px;
}

#section3 ul li p {
  text-align: center;
  padding-top: 20px;
}
#section4 {
  position: relative;
  height: 100vh;
  background-color: #fff;
  border: 10px solid navy;
}
.sec4_bg {
  position: absolute;
  top: 50%;
  right: 50px;
  color: rgba(0, 0, 128, 0.2);
  font-weight: bold;
  font-size: 200px;
  font-family: "Bungee", cursive;
}
#section5 {
  position: relative;
  height: 100vh;
  background-color: #fff;
  border: 10px solid orangered;
}
.sec5_bg {
  position: absolute;
  top: 50%;
  right: 50px;
  color: rgba(255, 69, 0, 0.2);
  font-weight: bold;
  font-size: 200px;
  font-family: "Bungee", cursive;
}
